<!DOCTYPE html>
<!--Инструкция для веб-браузера, что этот файл- html-->
<html lang="en">
<head>
  <!--code for chars-->
  <meta charset="UTF-8" />

  <!--content="width=device-width - full scring width text-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!--Heading-->
  <title>decor_seedling</title>

  <!--Link with tamplates from Bootstrap bibl CSS-->
  <!--rel(relationships) - Отношение внешнего документа к нашему документу.
          Так как href содержит стили css, то указываем stylesheet -->

  <link
    href="/your-path-to-uicons/css/uicons-[your-style].css"
    rel="stylesheet"
  />
  <!--load all styles -->

  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
    crossorigin="anonymous"
  />
  <link rel="stylesheet" href="styles.css" />
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
    crossorigin="anonymous"
  ></script>
</head>
  <body>
<nav class="navbar navbar-expand-lg sticky-top" style="background-color: #1fbb11; padding-left: 10.323%;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="tree2.png" alt="tree" width="70" padd />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <!-- ul - создает списки -->
        <ul class="navbar-nav">
          <!-- li - элементы списка -->
          <li class="nav-item">
            <a
              class="nav-link"
              aria-current="page"
              href="main_1.html"
              style="color: white"
              >Главная</a
            >
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              style="color: white"
            >
              Саженцы деревьев
            </a>
            <ul class="dropdown-menu">
              <li>
                <a
                  class="dropdown-item"
                  href="fruit_seedling_1.html"
                  style="color: #1fbb11"
                  >Плодовые</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="decor_seedling_1.html" style="color: #1fbb11"
                  >Декоративные</a
                >
              </li>
          </li>
        </ul>
        <li class="nav-item active">
          <a class="nav-link" aria-current="page" href="berries_1.html" style="color: white">Ягоды</a>
        </li>
      </div>
    </div>
  </nav>
        <!-- Карточки с продуктами
    <Барбарисы> -->
    <div class="container my-2">
      <div class="row row-cols-md-3 row-cols-1 gy-4">
        <div class="col">
          <div class="card" style="--bs-card-height: 100%;">
            <img src="pct\Барбарис Тунберга Ред Чиф.jpg" class="card-img-top" alt="Барбарис Тунберга 'Ред Чиф'">
            <div class="card-body">
                  <h5 class="card-title">Барбарис
                    Тунберга "Ред
                    Чиф"</h5>
                  <p class="card-text">красный сорт
                    барбариса. Высота и
                    диаметр куста – 2
                    м. Сорт имеет
                    раскидистую форму
                    куста с несколько
                    поникающими ветвями
                    и темно-пурпурные
                    листья. Быстро растет.
                    Плоды розовые,
                    сохраняются зимой. Очень привлекательное растение.
                    Хорошо смотрится в одиночных посадках и в живых
                    изгородях.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="pct\Барбарис Тунберга Голден Ринг.jpg" class="card-img-top" alt="Барбарис Тунберга Голден Ринг">
            <div class="card-body">
                  <h5 class="card-title">Барбарис Тунберга "Голден Ринг"</h5>
                  <p class="card-text">вырастает до 1,5 м. Окрас
                    листьев изменяется, в
                    зависимости от времени
                    года, летом – темный
                    оттенок красного цвета с
                    узкой золотистой или
                    золотисто-зеленой
                    окантовкой по
                    краю,осенью – однородное
                    покрытие темно-красного,
                    оранжевого или пурпурного
                    оттенка. Благодаря своей
                    оригинальной и яркой окраске, кустарник великолепно
                    вливается в любой дизайнерский проект  Барбарис
                    Тунберга Голден Ринг хорошо будет себя чувствовать на
                    солнечных участках с легким притенением.
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="pct\Барбарис оттавский Суперба.jpg" class="card-img-top" alt="Барбарис оттавский Суперба">
            <div class="card-body">
                  <h5 class="card-title">Барбарис оттавский "Суперба"</h5>
                  <p class="card-text">«Суперба»кустарник, во
                    взрослом состоянии (через 10
                    лет) достигает в высоту и
                    диаметре 3-4 м. Ежегодная
                    стрижка помогает сохранять
                    красоту барбариса. Лист с
                    весны по осень изменяет свою
                    окраску от красноватого, до
                    фиолетового и оранжевых
                    оттенков. Цветы ароматные,
                    желтые с красным. Плоды
                    красные, удлиненные.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="pct\Пузыреплодник Диабло.jpg" class="card-img-top" alt="Пузыреплодник 'Диабло'">
            <div class="card-body">
                  <h5 class="card-title">Пузыреплодник "Диабло"</h5>
                  <p class="card-text">Куст до 2,5 м
                    высотой. Цветки белые, в
                    плотных полушаровидных
                    соцветиях диаметром до 5-7
                    см, в изобилии покрывают
                    ветви в начале лета. Привлекательны и плоды –
                    краснеющие при созревании. По яркости окраски нет
                    соперников. В разное время и в разных частях кроны цвет
                    листьев варьирует от синевато-фиолетового до красно-
                    коричневого.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="pct\Дерен Ауреа.jpg" class="card-img-top" alt="Дерен 'Ауреа'">
            <div class="card-body">
                  <h5 class="card-title">Дерен "Ауреа"</h5>
                  <p class="card-text">кустарник, способный
                    вырастать до 3 м. Он
                    отличается тонкими и
                    гибкими побегами,
                    направленными вверх.
                    Дерен Aurea достаточно
                    морозостоек,он хорошо
                    переносит избыток влаги.
                    Цвет листвы меняется за
                    период вегетации от
                    золотисто-желтого до
                    салатового. При
                    расположении в тени листва не может приобретать
                    золотистый оттенок. Ранней осенью появляются
                    несъедобные бело-голубые ягоды. Для формирования
                    красивого живого забора
                    используют обрезку
                    побегов, придавая
                    нужную форму.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="pct\Чебушник Земляничный.jpg" class="card-img-top" alt="Чубушник 'Земляничный'">
            <div class="card-body">
                  <h5 class="card-title">Чубушник "Земляничный"</h5>
                  <p class="card-text">
                    Чубушник Земляничный – это аккуратный,
                    небольшой кустарник с
                    тонкими ветвями. Его
                    максимальная высота и
                    диаметр кроны
                    достигают 1,5 м. Под
                    тяжестью цветов побеги
                    свисают вниз и круглый
                    куст напоминает собой
                    облако из
                    многочисленных
                    белоснежных цветов.
                    Листья заостренной
                    формы, узкие и мелкие,
                    в длину до 2 см. Растение светолюбиво, в тени соцветия
                    растения становятся совсем мелкими, побеги
                    вытягиваются. Для посадки выбрать защищенное от
                    сквозняков и сильного ветра место.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="pct\Чубушник Ауреа.jpg" class="card-img-top" alt="Чубушник'Ауреа'">
            <div class="card-body">
                  <h5 class="card-title">Чубушник "Ауреа"</h5>
                  <p class="card-text">Декоративность проявляется
                    во время цветения,
                    весной листва,
                    появляется в желтом
                    цвете и салатовый цвет
                    приобретает летом.
                    Чубушник Ауреа
                    достигает высоты 2
                    метров, в диаметре до
                    1,5 м,  загущается,
                    поэтому требует
                    периодической
                    обрезки.
                    Рекомендуется срезать
                    старые ветви. Растение морозоустойчиво, светолюбиво.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="pct\Чубушник Зоя Космодемьянская.jpg" class="card-img-top" alt="Чубушник'Зоя Космодемьянская'">
            <div class="card-body">
                  <h5 class="card-title">Чубушник "Зоя Космодемьянская"</h5>
                  <p class="card-text">вырастает до 3 м в
                    высоту. Белоснежные махровые цветы культуры
                    достаточно крупные, собраны в кистевидные
                    соцветия по 6
                    — 7 штук,
                    испускают
                    тонкий,
                    приятный
                    аромат.
                    Растение
                    ежегодно
                    нужно
                    обрезать.
                    Обильно
                    цветут только
                    сильные
                    побеги
                    прошлого
                    года. На
                    остальных ветках бутоны мелкие, и их мало.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="pct\Чубушник Снежная буря.jpg" class="card-img-top" alt="Чубушник 'Снежная буря'">
            <div class="card-body">
                  <h5 class="card-title">Чубушник "Снежная буря"</h5>
                  <p class="card-text">вырастает до 1,5 м в высоту, что позволяет широко
                    использовать его для украшения дорожек,
                    бордюров. Махровые цветы белого цвета густо
                    покрывают ветви растения. Цветы снежно-белой
                    окраски, густо махровые,собраны в густые соцветия
                    из 7-9 цветков.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="pct\Кизильник Блестящий.jpg" class="card-img-top" alt="Кизильник 'Блестящий'">
            <div class="card-body">
                  <h5 class="card-title">Кизильник "Блестящий"</h5>
                  <p class="card-text">листопадный кустарник
                    высотой до 3
                    метров. Тёмно-зелёные
                    листья с кожистой
                    плотной структурой
                    имеют глянцевую
                    верхнюю поверхность,
                    за что кизильник и
                    получил определение
                    «блестящий». Осенью
                    листья окрашиваются в
                    тёмные тона от красно-коричневой до тёмно-бордовой
                    палитры. После цветения на кизильнике образуются
                    шаровидные чёрные плоды. Плоды съедобны, однако
                    почти не имеют вкуса и не представляют никакой
                    пищевой ценности. Кизильник блестящий широко
                    применяется в ландшафтном дизайне. С его помощью
                    создаются живые изгороди, вечнозеленые скульптуры и
                    украшаются неприглядные участки земли.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="pct\Боярышник Крупноплодный.jpg" class="card-img-top" alt="Боярышник 'Крупноплодный'">
            <div class="card-body">
                  <h5 class="card-title">Боярышник "Крупноплодный"</h5>
                  <p class="card-text">листопадный кустарник
                    высотой до 3
                    метров. Тёмно-зелёные
                    листья с кожистой
                    плотной структурой
                    имеют глянцевую
                    верхнюю поверхность,
                    за что кизильник и
                    получил определение
                    «блестящий». Осенью
                    листья окрашиваются в
                    тёмные тона от красно-коричневой до тёмно-бордовой
                    палитры. После цветения на кизильнике образуются
                    шаровидные чёрные плоды .Плоды съедобны, однако
                    почти не имеют вкуса и не представляют никакой
                    пищевой ценности. Кизильник блестящий широко
                    применяется в ландшафтном дизайне. С его помощью
                    создаются живые изгороди, вечнозеленые скульптуры и
                    украшаются неприглядные участки земли.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="pct\Лапчатка Танжерин.jpg" class="card-img-top" alt="Лапчатка 'Танжерин'">
            <div class="card-body">
                  <h5 class="card-title">Лапчатка "Танжерин"</h5>
                  <p class="card-text">Кустарник высотой
                    0,5-0,6 м и таким же диаметром
                    кроны. Сорт отличается компактной,
                    плотной кроной и необычной нежной
                    окраской цветков. Цветки медно-
                    оранжевые, причем максимально
                    насыщенный цвет наблюдается осенью, а летом —
                    пастельно-желтые с абрикосовым оттенком. <span style="font-weight: 600;">Высаживать
                      лапчатку Танжерин нужно в
                      легком затенении.</span> </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="pct\Лапчатка Лавли Пинк.jpg" class="card-img-top" alt="Лапчатка'Лавли Пинк'">
            <div class="card-body">
                  <h5 class="card-title">Лапчатка "Лавли Пинк"</h5>
                  <p class="card-text">Кустарник высотой 0,5-0,6 м
                    с густой кроной и нежно-
                    розовыми цветками.<span style="font-weight: 600;"> Высаживать
                    лапчатку Лавли пинк нужно в
                    легком затенении.</span></p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="pct\Лапчатка Голдфингер.jpg" class="card-img-top" alt="Лапчатка 'Голдфингер'">
            <div class="card-body">
                  <h5 class="card-title">Лапчатка "Голдфингер"</h5>
                  <p class="card-text">высотой до
                    1,5 метра. Красочные желтые
                    цветки обильно покрывают
                    Голдфингер в период цветения.
                    Крона пышная и широкая. <span style="font-weight: 600;">Высаживать лапчатку
                      Голдфингер можно как на
                      открытых солнечных , так и в
                      легком затенении.</span></p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="pct\Сирень Колхозница.jpg" class="card-img-top" alt="Сирень 'Колхозница'">
            <div class="card-body">
                  <h5 class="card-title">Сирень "Колхозница"</h5>
                  <p class="card-text">один из лучших
                    сортов в селекции
                    Леонида
                    Колесникова. Махровыми цветы окрашены в
                    нежный светло-лиловый цвет с примесью розового и
                    лавандового оттенков. Кустарник высотой 3 метра и
                    диаметром 2,5 метра.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="pct\Сирень Память о Колесникове.jpg" class="card-img-top" alt="Сирень 'Память о Колесникове'">
            <div class="card-body">
                  <h5 class="card-title">Сирень "Память о Колесникове"</h5>
                  <p class="card-text">имеет большие махровые
                    соцветия белоснежного цвета.
                    Высота кустарника может достигать 3-х м, диаметр
                    кроны 2,5 м.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="pct\Спирея Грефшейм.jpg" class="card-img-top" alt="Спирея 'Грефшейм'">
            <div class="card-body">
                  <h5 class="card-title">Спирея "Грефшейм"</h5>
                  <p class="card-text">Красивоцветущий
                    кустарник. Высота и диаметр куста спиреи  до 1,5 – 2
                    метров. Неприхотливый, отличающийся необычайно
                    обильным ежегодным цветением. Крона раскидистая,
                    широко округлая.
                    Цветет в мае-июне,
                    цветки снежно-
                    белые, собраны в
                    зонтичные соцветия,
                    густо покрывающие
                    весь куст.
                    Светолюбива, но
                    выносит и полутень.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="pct\Спирея Вангутта.jpg" class="card-img-top" alt="Спирея 'Вангутта'">
            <div class="card-body">
                  <h5 class="card-title">Спирея "Вангутта"</h5>
                  <p class="card-text">высота спиреи около 2 м. Белые цветки собраны
                    в многочисленные
                    полушаровидные
                    соцветия, покрывающие
                    побеги по всей длине.
                    Обрезка спиреи Вангутта
                    после цветения не
                    только формирует крону
                    куста, но и стимулирует
                    образование новых
                    побегов и закладку
                    цветковых почек, в
                    результате чего спирея
                    будет цвести пышнее
                    прежнего.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="pct\Спирея японская Дартс Ред.jpg" class="card-img-top" alt="Спирея японская 'Дартс Ред'">
            <div class="card-body">
                  <h5 class="card-title">Спирея японская "Дартс Ред"</h5>
                  <p class="card-text">кустарник
                    высотой до 1 м.,
                    диаметром 0,6-0,8 м.
                    Растет быстро. Листья
                    ланцетные, расположены
                    очередно, светло-
                    зеленые, при распускании
                    красноватые. Цветки
                    малиново-красного цвета,
                    собраны в щитки.
                    Цветение очень
                    длительное и обильное с
                    июля.
                    Используется очень широко в ландшафтном дизайне в
                    качестве изгородей, бордюров, в групповых или
                    одиночных посадках.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="pct\Спирея японская Антонио Ватерер.jpg" class="card-img-top" alt="Спирея японская 'Антонио Ватерер'">
            <div class="card-body">
                  <h5 class="card-title">Спирея японская "Антонио Ватерер"</h5>
                  <p class="card-text">кустарник с густой раскидистой кроной, высотой 1 м
                    Сорт ценится за
                    продолжительное
                    цветение с середины
                    июня ярко-розовыми
                    или ярко-малиновым
                    цветом Молодые
                    листочки, когда
                    начинают
                    распускаться, имеют
                    красноватый оттенок.
                    В летнее время они тёмно-зеленые, осенью –
                    оранжево-красные или пурпурные.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="pct\Спирея японская Голдмаунт.jpg" class="card-img-top" alt="Спирея японская 'Голдмаунт'">
            <div class="card-body">
                  <h5 class="card-title">Спирея японская "Голдмаунт"</h5>
                  <p class="card-text">карликовый кустарник, достигает до 0,6 м в высоту и до
                    0,8 м в диаметре. Листья лимонно-желтые или зеленые,
                    продолговато-яйцевидные.
                    Цветки розовые, мелкие,
                    собранны в щитковидных
                    соцветиях. Цветет обильно
                    в июне-июле. Спирею
                    используют в одиночных и
                    групповых посадках при
                    формировании
                    альпинариев, клумб,
                    бордюров, водоемов.
                    Хорошо смотрится с
                    хвойными, другими
                    спиреями, барбарисами, лапчаткой и др. Голдмаунд
                    неприхотлива и светолюбива, устойчива к морозам.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="pct\Спирея японская Маленькая принцесса.jpg" class="card-img-top" alt="Спирея японская 'Маленькая принцесса'">
            <div class="card-body">
                  <h5 class="card-title">Спирея японская "Маленькая принцесса"</h5>
                  <p class="card-text">кустарник с компактной плотной шаровидной
                    кроной. Высотой до 0,8 м,
                    диаметр кроны до 1, 2м,
                    период цветения: июнь –
                    июль, цветение обильное.
                    Культура светолюбива и
                    неприхотлива, хорошо
                    растет на любых садовых
                    почвах,не боится обрезки,
                     Используется очень широко
                    в ландшафтном дизайне, в
                    композициях, в рокариях,
                    для создания живых
                    изгородей, рабаток также для одиночных посадок.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="pct\Спирея японская Макрофила.jpg" class="card-img-top" alt="Спирея японская 'Макрофила'">
            <div class="card-body">
              <h5 class="card-title">Спирея японская "Макрофила"</h5>
              <p>НУЖНО ОПИСАНИЕ</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="pct\Декоративная яблоня Недзвецкого.jpg" class="card-img-top" alt="Декоративная яблоня 'Недзвецкого'">
            <div class="card-body">
                  <h5 class="card-title">Декоративная яблоня "Недзвецкого"</h5>
                  <p class="card-text">Быстро адаптируется в любых
                    климатических условиях. У
                    яблони Недзвецкого ярко
                    выражена декоративность. Весна
                    — зеленая с пурпуром листва .
                    Малиновые крупные цветы.
                    Осень— листва темнеет до
                    пурпурного, появляются темно-
                    красные яблоки. Зима — темно-
                    пурпурные ветви густо усыпаны в
                    начале зимы почти фиолетовыми
                    яблочками. Плоды в диаметре не превышают 3 см.
                    Яблоки съедобны. Как и все дички, декоративная
                    яблоня Недзвецкого, практически не восприимчива к
                    распространенным болезням яблонь.
                    Яблоню выращивают деревом или кустом. Приемами
                    обрезки можно реализовать любые задумки дизайнера
                    — дерево очень пластичный художественный материал.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="pct\Декоративная яблоня Роялти.jpg" class="card-img-top" alt="Декоративная яблоня 'Роялти'">
            <div class="card-body">
              <h5 class="card-title">Декоративная яблоня "Роялти"</h5>
              <p>Деревца маленькие, с медленными темпами роста, их
                    максимальная высота не
                    превышает 4-6 м Листья очень
                    красивого темно-фиолетового
                    (пурпурного) окраса. Цветение
                    очень обильное. Бутоны крупного
                    размера, насыщенного темно-
                    красного цвета, необычайно
                    ароматные. Яблоки
                    несъедобны. Сорт Роялти
                    морозостойкий, ветро- и
                    засухоустойчивый. Не любит
                    обрезки и при сильной формировке замедляет рост.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="pct\Рябина Сорбинка.jpg" class="card-img-top" alt="Рябина 'Сорбинка'">
            <div class="card-body">
              <h5 class="card-title">Рябина "Сорбинка"</h5>
              <p>НУЖНО ОПИСАНИЕ</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="pct\Рябина Невеженская.jpg" class="card-img-top" alt="Рябина 'Невеженская'">
            <div class="card-body">
              <h5 class="card-title">Рябина "Невеженская"</h5>
              <p>НУЖНО ОПИСАНИЕ</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="pct\Ива Свердловская извилистая.jpg" class="card-img-top" alt="Ива 'Свердловская извилистая'">
            <div class="card-body">
              <h5 class="card-title">Ива "Свердловская извилистая"</h5>
              <p>НУЖНО ОПИСАНИЕ</p> 
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="pct\Ива Пурпурная нана.jpg" class="card-img-top" alt="Ива 'Пурпурная нана'">
            <div class="card-body">
              <h5 class="card-title">Ива "Пурпурная Нана"</h5>
              <p>НУЖНО ОПИСАНИЕ</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="pct\Черемуха краснолистная Колората.jpg" class="card-img-top" alt="Черемуха краснолистная 'Колората'">
            <div class="card-body">
              <h5 class="card-title">Черемуха краснолистная "Колората"</h5>
              <p>НУЖНО ОПИСАНИЕ</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="pct\Стефанандра Криспа.jpg" class="card-img-top" alt="Стефанандра 'Криспа'">
            <div class="card-body">
              <h5 class="card-title">Стефанандра "Криспа"</h5>
              <p>НУЖНО ОПИСАНИЕ</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>