.card {
  border-radius: 1em;
  border-color: #1fbb11;
  --bs-card-height: 100%;
}
.card:hover {
  background-color: #1fbb1186;
  border-color: #1fbb11;
}
.card img {
  border-top-right-radius: 1em;
  border-top-left-radius: 1em;
}
.card-body button {
  --bs-btn-color: #fff;
  --bs-btn-bg: #1fbb11;
  --bs-btn-border-color: #1fbb11;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #1fbb11;
  --bs-btn-hover-border-color: #1fbb11;
  --bs-btn-active-bg: #1fbb1186;
  --bs-btn-active-border-color: #1fbb1186;
  margin-bottom: 1rem;
}

footer {
  width: 100%;
  background-color: #1fbb11;
  height: fit-content;
}
